body{
    background: #fff url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
}

.header-container{
    display: flex;
    /* padding-top: 53px;
    padding-left: 71px; */
    background-color: blue;
}

.header-container img{
    height: 53px;
}

.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    /* padding-left: 72px;
    margin-top: 87px; */
}

.footer{
    display: flex;
    background-color: green;
}