body{
    background: #fff url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
}

.header-container{
    display: flex;
    padding:53px 71px;
    background-color: blue;
}

.header-container img{
    height: 53px;
    background-color: yellow;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    padding-left: 72px;
    padding-top: 34px;
    /* gap: 35px;   */
}

.footer{
    display: flex;
    background-color: green;
}