body{
    background: #fff url(../images/bg-desktop.svg) no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.header-container{
    display: flex;
    padding:53px 71px;
    background-color: blue;
}

.header-container img{
    height: 53px;
    background-color: yellow;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    padding-left: 72px;
    padding-top: 34px;
    gap: 50px;  
}

.info .info-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.info .info-text{
    font-weight: 400;
}

.footer{
    display: flex;
    background-color: green;
}